body{
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  line-height: 1.5;
  display: block;
  margin-left:35%;
}
    .form-style{
  background: #F6F8FA;
  padding: 30px;
  border-radius: 6px;
  position: absolute;
  width: 320px;



  }
    .img{
      width:50px;
      height:50px;
      margin-top: 9%;
      margin-left: 140px;
   
    }

    .new-ac{
      width: 320px;
      padding: 20px;
      margin-top:250px;
      position: absolute;
      text-align: center;
  
    }
    .py-6{
      padding-top: 40px;
      padding-bottom: 40px;
    }
    .mt-6{
      margin-top: 40px;
    }
    .f6{
      font-size: 12px
    }
    .p-responsive{
      padding-right: 16px;
      padding-left: 16px;
    }
    .container-lg{
      max-width: 1012px;
      margin-right: auto;
      margin-left: 90px;
      margin-top:300px;
    }

    .session-authentication {
    word-wrap: break-word;
}

.heading{
  font-size: 25px;
  font-weight: lighter;
  margin-left: 80px;

}

.for-pwd{
  font-size: 12px;
  text-decoration: none;
  border: none;
  background-color:#F6F8FA;
  float: right;

}


